body
{
   background-color: #FFB6C1;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#TextArt1
{
   border-width: 0;
}
#Image1
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#TextArt5
{
   border-width: 0;
}
#TextArt2
{
   border-width: 0;
}
#TextArt4
{
   border-width: 0;
}
#TextArt3
{
   border-width: 0;
}
#Pagination1
{
   display: inline-block;
   list-style: none;
   padding: 0;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 0;
}
#Pagination1 > li
{
   display: inline;
   font-size: 27px;
}
#Pagination1 > li > a, #Pagination1 > li > span
{
   position: relative;
   float: left;
   padding: 6px 12px 6px 12px;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #DDDDDD solid;
   color: #000000;
   margin-left: -1px;
}
#Pagination1 > li:first-child > a, #Pagination1 > li:first-child > span
{
   margin-left: 0;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#Pagination1 > li:last-child > a, #Pagination1 > li:last-child > span
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Pagination1 > li > a:hover, #Pagination1 > li > span:hover, #Pagination1 > li > a:focus, #Pagination1 > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#Pagination1 > .active > a, #Pagination1 > .active > span, #Pagination1 > .active > a:hover, #Pagination1 > .active > span:hover, #Pagination1 > .active > a:focus, #Pagination1 > .active > span:focus
{
   z-index: 2;
   background-color: #337AB7;
   border-color: #337AB7;
   color: #FFFFFF;
   cursor: default;
}
#Pagination1 > .disabled > span, #Pagination1 > .disabled > span:hover, #Pagination1 > .disabled > span:focus, #Pagination1 > .disabled > a, #Pagination1 > .disabled > a:hover, #Pagination1 > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#wb_CssMenu1
{
   border: 0px #F8F8FF solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 10px 0px 0px;
   width: 250px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #F8F8FF;
   border: 1px #CCCCCC solid;
   background-color: #9370DB;
   background: -moz-linear-gradient(bottom,#9370DB 0%,#E0E0E0 100%);
   background: -webkit-linear-gradient(bottom,#9370DB 0%,#E0E0E0 100%);
   background: -o-linear-gradient(bottom,#9370DB 0%,#E0E0E0 100%);
   background: -ms-linear-gradient(bottom,#9370DB 0%,#E0E0E0 100%);
   background: linear-gradient(bottom,#9370DB 0%,#E0E0E0 100%);
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   width: 238px;
   height: 58px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 58px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #000000;
   background-color: #337AB7;
   background: -moz-linear-gradient(bottom,#337AB7 0%,#EEEEEE 100%);
   background: -webkit-linear-gradient(bottom,#337AB7 0%,#EEEEEE 100%);
   background: -o-linear-gradient(bottom,#337AB7 0%,#EEEEEE 100%);
   background: -ms-linear-gradient(bottom,#337AB7 0%,#EEEEEE 100%);
   background: linear-gradient(bottom,#337AB7 0%,#EEEEEE 100%);
   border: 1px #2E6DA4 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
